
#titulo{
    color: #002333;
    background-color: #DEEFE7;
}

.conteudo{
    padding-top: 0px;
    padding-left: 200px;
    padding-bottom: 10px;
    padding-right: 200px;
}

.subtitulo{
    color: #002333;
    background-color: #DEEFE7;
}

.botao{
    text-align: center;
}

a{ /*NAVEGAÇÃO DO MENU*/
    color: #DEEFE7;
    padding: 08px; /*espaçamento do tamanho do quadrado que vai aparecer quando passar o cursor do mouse em cima do link*/
    border-radius: 5px; /* arredondamento da borda do link*/
    text-decoration: none; 
    font-weight: bold; 
    transition-duration: .5s; /*transição quando passa o cursor por cima do link*/
}

a:hover{
    background-color: #B4BEC9;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: #159A9C;
}

header{
    width: 100%;
    color: white;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.726), #159A9C); /*sombra do cabeçalho*/
    text-align: center;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.473); /*sombra do texto*/
    /*quadrado que forma o cabeçalho*/
    padding-top: 2px;
    padding-left: 20px;
    padding-bottom: 4px;
    padding-right: 20px;
}

main{
    width: 100%;
    background-color: white;
    /*configurações do corpo*/
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-radius:0px 0px 10px 10px;
    /*responsividade do conteúdo e imagens*/
    min-width: 320px;
    max-width: 1500px;
    margin: auto;
}

.carrossel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .imgcarrossel img {
    display: none;
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
  }
  
  .imgcarrossel img.ativo {
    display: block;
  }
      
.clickimg{
    text-align: center;
}

img{
    width: 100%; /*imagem se adapta a qualquer dispositivo*/
}

footer{
    width: 100%;
    background-color:#10494ab1;
    color: white;
    text-align: center;
    padding-top: 2px;
    padding-left: 20px;
    padding-bottom: 4px;
    padding-right: 20px;
}